<ion-header>
    <ion-toolbar class="bg-color">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Restablecer contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-title>
      <img alt="logo"   src="https://i.pinimg.com/564x/50/c3/76/50c3760c4f9fd7df41c5d40e3a72b259.jpg" > 
    </ion-title>
    <app-auth-form #resetPasswordForm (formSubmitted)=resetPassword($event) [actionButtonText]="'Recuperar'"
      [isPasswordResetPage]="true"></app-auth-form>
  </ion-content>